<div class="main">
  <div class="devise-card">
    <div class="form-wrap">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class= 'field'>
          <h4><%= @user.username %></h4>
          <p>プロフィール写真を変更</p>
        </div>

        <div class = 'field'>
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control', id: 'user_name' %>
        </div>

        <div class = 'field'>
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control', id: 'user_email' %>
        </div>

        <div class = 'field'>
          <%= f.label :introduction %>
          <%= f.text_area :introduction, size: "60x4", class: 'form-control', id: 'user_introduction' %>
        </div>

        <div class = "field actions">
          <%= f.submit "更新する", class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
