<header class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container">
    <%= link_to(image_tag("header_logo.jpg", :alt => "header-logo"), root_path, id: 'logo') %>
    <%= render 'layouts/search' if user_signed_in? %>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li><%= link_to '料理投稿', new_dish_path, class: "btn btn-warning btn-record" %></li>
        <li class="dropdown">
          <a class="dropdown btn btn-link link" href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="fas fa-user-cog"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'プロフィール', current_user, class:"link" %></li>
            <li><%= link_to 'お気に入り一覧', favorites_path, class:"link" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, class:"link", method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path, class:"link" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class:"link" %></li>
      <% end %>
    </ul>
  </div>
</header>
