<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
      <div class="col-md-8">
        <h2 class="dish-name"><%= @dish.name %></h2>
        <div class="change-dish">
          <% if current_user == @dish.user %>
            <%= link_to "編集", edit_dish_path(@dish), class: 'edit-dish' %>　
            <%= link_to "削除", dish_path(@dish), method: :delete, class: 'delete-dish',
                                          data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </div>
        <h4><%= @dish.description %></h4>
        <div class="ingredients">
          <h5 class="title-ingredients">材料</h5>
          <div class="row">
            <div class="col-md-8">
              <table class="ingredient">
                <% @dish.ingredients.each do |i| %>
                  <% if i.name.present? %>
                    <tr>
                      <td><%= i.name %></td>
                      <td><%= i.quantity %></td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </div>
          </div>
        </div>
        <div class="tips">
          <h5 class="title-tips">コツ・ポイント</h5><h5><%= @dish.tips %></h5>
        </div>
        <div class="dish-info">
          <h5 class="dish-portion">分量：</h5><h4><%= @dish.portion %></h4>人分</h5>
        </div>
        <div class="show-dish-other-info">
          <div class="dish-info">
            <h5>調理時間：</h5><h4><%= @dish.required_time %></h4> <h5>分</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
