<% @comments  = @dish.feed_comment(@dish.id) %>
<div class="main">
  <div class="text-center">
    <div>
      <span class="picture">
        <%= link_to((image_tag @dish.picture.url, width: 200), dish_path(@dish.id), class: 'dish-picture') if @dish.picture.url.present? %>
      </span>
    </div>
    <h3 class="dish-name"><%= @dish.name %></h3>
    <div class="change-dish">
      <% if current_user == @dish.user %>
        <%= link_to "編集", edit_dish_path(@dish), class: 'edit-dish' %>　
        <%= link_to "削除", dish_path(@dish), method: :delete, class: 'delete-dish',
                                      data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
    <h4><%= @dish.description %></h4>
    <div class="ingredients">
      <h5 class="title-ingredients">材料</h5>
      <table class="ingredient">
        <% @dish.ingredients.each do |ingredient| %>
          <% if ingredient.name.present? %>
            <tr>
              <td><%= ingredient.name %></td>
              <td><%= ingredient.quantity %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="tips">
      <h5 class="title-tips">コツ・ポイント</h5><h5><%= @dish.tips %></h5>
    </div>
    <div class="dish-info">
      <h5 class="dish-portion">分量：</h5><h4><%= @dish.portion %></h4>人分</h5>
    </div>
    <div class="show-dish-other-info">
      <div class="dish-info">
        <h5>調理時間：</h5><h4><%= @dish.required_time %></h4> <h5>分</h5>
      </div>
    <div class="comment">
      <%= render "comments/feed_comments" %>
      <%= render "comments/new" %>
    </div>
  </div>
</div>
